.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start;
    padding-top: 3rem;
  }

  .blogItemh3{
    margin-top: 15px;
    cursor: pointer;
  }

  .blogItempara{
    max-width: 45vw;
  }